<p id="notice"><%= notice %></p>

<div  class="">

</div>
<p>
  <strong>Title:</strong>
  <%= @payment.title %>
</p>

<div>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
